.ask-item{
  &--demo{
    max-width: em(570);
  }
  & + &{
    border-top: 1px solid $brand-ui;
    margin-top: $base-spacing-unit;
    padding-top: $base-spacing-unit;
  }
  @include rem;
  &__container{
    background-color: #F8F8F9;
    border: 1px solid #EEEEEE;
    padding: em($base-spacing-unit);
    @media #{$medium} {
      padding: em(39) em(72);
    }
  }
  &__extra,
  &__meta{
    font-size: em(13);
    color: #959595;
  }
  &__meta{
    line-height: 2;
    margin-bottom: 0;
  }
  &__title{
    font-size: em(19);
    font-weight: bold;
    color: black;
    margin-bottom: $half-spacing-unit;
  }
  &__extra,
  &__text{
    margin-bottom: $half-spacing-unit;
  }
  &__text{
    font-family: $font-family-serif;
    color: black;
  }
}