.ask-item{
  &--demo{
    max-width: em(570);
  }
  & + &{
    border-top: 1px solid $brand-ui;
    margin-top: $base-spacing-unit;
    padding-top: $base-spacing-unit;
  }
  @include rem;
  &__container{
    background-color: #F8F8F9;
    border: 1px solid #EEEEEE;
    padding: em($base-spacing-unit);
  }
  &__container-large{
    @media #{$medium} {
      padding: em(39) em(72);
    }
  }
  &__extra,
  &__meta{
    font-size: em(13);
    color: #959595;
  }
  &__meta{
    line-height: 2;
    margin-bottom: 0;
  }
  &__title{
    font-size: em(19);
    font-weight: bold;
    color: black;
    margin-bottom: $half-spacing-unit;
  }
  &__extra,
  &__text{
    margin-bottom: $half-spacing-unit;
  }
  &__text{
    font-family: $font-family-serif;
    color: black;
  }
}

.slider{
  -webkit-backface-visibility: hidden;
  white-space: nowrap;
  margin: 0 20px;
  position: relative;
  &__slide{
    display: inline-block;
    white-space: normal;
    width: 346px;
    margin-left: 6px;
    margin-right: 6px;
  }
}
.slick-arrow{
  border: 0;
  background: none;
  font-size: 1.6em;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 2;
  &:focus{
    outline: none;
    box-shadow: 0 0 2px rgba(black, 0.3);
  }
  html &{
    -webkit-appearance: none;
  }
}

.slick-prev{
  right: 100%;
}

.slick-next{
  left: 100%;
}