@mixin logo-variant($bg-position) {
  & > a{
    background-position: $bg-position;
  }
}

.main-logo{
  font-size: 1em;
  margin: 0;
  & > a{
    @extend %main-sprite;
    @extend %image-replace;
    background-position: -9px -12px;
    width: 178px;
    height: 35px;
    vertical-align: middle;
  }
}

.main-logo--dark{
  @include logo-variant(-9px -58px);
}

