.main-header{
	background-color: transparent;
	width: 100%;
	padding: $half-spacing-unit 0;
  &--positioned{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  &__bordered{
    border-bottom: 1px solid $brand-ui;
    margin-bottom: 25px;
  }
}