.main-navigation{
  @include rem(14);
	font-family: $font-family-sans-serif;
	&__item{
    font-weight: bold;
    & + &{
      padding-left: $half-spacing-unit / 2;
    }
		&.is-active a{
			color: $color-brand;
		}
	}
	&__link{
    color: #717171;
  }
}
