.main-footer{
  color: white;
  font-size: em(16);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  &--positioned{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &--spaced{
    margin-top: $base-spacing-unit * 4;
  }
  &--dark{
    color: #A5A5A5;
  }
  &__bordered{
    border-top: 1px solid $brand-ui;
  }
}