.show-more{
  @include rem;
  overflow: hidden;
  &__link{
    display: block;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    font-size: em(11);
    text-align: center;
    padding: 3px;
    margin-bottom: 4px;
  }
}