.container{
  max-width: 1145px;
  margin: 0 auto;
  position: relative;
  padding: 0 $half-spacing-unit;
  @media #{$small} {
  	padding: 0 $base-spacing-unit;
  }
}

.container--small{
  max-width: 940px;
}

.container--smaller{
  max-width: 840px;
}

.container--smallest{
  max-width: 750px;
}